# NET "IO33"  LOC = "p5"   ;
# NET "IO9"   LOC = "p20"  ;
# NET "IO15"  LOC = "p12"  ;
# NET "IO14"  LOC = "p13"  ;
# NET "IO13"  LOC = "p14"  ;
# NET "IO12"  LOC = "p16"  ;
# NET "IO11"  LOC = "p18"  ;
# NET "IO10"  LOC = "p19"  ;
# NET "IO8"   LOC = "p21"  ;
# NET "IO2"   LOC = "p31"  ;
# NET "IO1"   LOC = "p32"  ;

NET "A[8]"   LOC = "p21"  ;
NET "A[9]"   LOC = "p20"  ;
NET "A[10]"  LOC = "p19"  ;
NET "A[11]"  LOC = "p18"  ;
NET "A[12]"  LOC = "p16"  ;
NET "A[13]"  LOC = "p14"  ;
NET "A[14]"  LOC = "p13"  ;
NET "A[15]"  LOC = "p12"  ;
NET "nRAMWE"  LOC = "p31"  ;
NET "nRAMCE"  LOC = "p32"  ;

NET "PHI2"     LOC = "p1"   ;
NET "RnWout"   LOC = "p2"   ;
NET "nHLT"     LOC = "p8"   ;
NET "DDIR"     LOC = "p22"  ;
NET "RnW"      LOC = "p23"  ;
NET "nDOE"     LOC = "p27"  ;
NET "nAOE"     LOC = "p28"  ;
NET "E_CPU"    LOC = "p29"  ;
NET "MR"       LOC = "p30"  ;
NET "PHI0CPU"  LOC = "p34"  ;
NET "VMA"      LOC = "p36"  ;
NET "nMWR"     LOC = "p41"  ;
NET "nMRD"     LOC = "p42"  ;
NET "CLK_S"    LOC = "p43"  ;
NET "CLK_F"    LOC = "p37"  ;
NET "PHI1"     LOC = "p44"  ;

NET "MOSI"  LOC = "p6"  ;
NET "SCK"   LOC = "p7"  ;
NET "CS"   LOC = "p3"   ;

NET "CON0"  LOC = "p40"  ;
NET "CON1"  LOC = "p39"  ;
NET "CON2"  LOC = "p38"  ;

# ; NET "GND" LOC = "p4"  ;
# ; NET "TDI" LOC = "p9"  ;
# ; NET "TMS" LOC = "p10" ;
# ; NET "TCK" LOC = "p11" ;
# ; NET "VCC" LOC = "p15" ;
# ; NET "GND" LOC = "p17" ;
# ; NET "TDO" LOC = "p24" ;
# ; NET "GND" LOC = "p25" ;
# ; NET "VCC" LOC = "p26" ;
# ; NET "VCC" LOC = "p35" ;